  
@import url('https://fonts.googleapis.com/css?family=Krub:400,500,600,700');
@import url('https://fonts.googleapis.com/css2?family=Mali:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

/*** General stylings ***/
html, body, #root {
    background-color: #EFEEEA;
}

.gerbil-text-1 {
    font-family: Mali;
    font-weight: 400;
    font-size: 30px;
    line-height: 39px;
}

.test {
    margin-right: 20px;
}



/** Reactstrap css **/
.modal-dialog {
    position: absolute !important;
    width: 50vw !important;
    height: 60vh !important;
    max-width: 60vw !important;
    max-height: 60vh !important;
    margin: 10vh 25vw 0vh 25vw!important;
}

.modal-header {
    margin: 25px 5% 0px 5% !important;
}

.modal-header .modal-title {
    font-family: Mali;
    font-size: 30px;
    line-height: 39px;

}

.modal-body {
    margin: 0px 5% !important;
}

.modal-body .form-group {
    margin-bottom: 32px;
}

.modal-body label, .modal-footer button {
    font-family: Mali;
    font-size: 20px;
    line-height: 26px;
}

.modal-body input {
    font-family: Mali;
    font-size: 15px;
    line-height: 20px;
}

.modal-footer {
    margin: 0px 5% 25px 5% !important;
}

.modal-footer button, .modal-footer button:hover, .modal-footer button:focus {
    padding: 15px 20px;
    border: none;
    outline: none !important;
    outline-offset: none !important;
}

.modal-footer button:nth-of-type(2) {
    background-color: #CBBAB3;
}

.modal-footer button:focus {
    background-color:  #CBBAB3;
}

.modal-content {
    width: 100% !important;
    background-color: #E5E2DD !important;
}

a.nav-item {
    color: black !important;
}

.close {
    font-size: 40px !important;
}

a.dropdown-item:hover, a.dropdown-item.active, a.dropdown-item.focus {
    background-color: #EFEEEA !important;
    outline: none !important;
    outline-offset: none !important;

}

a.dropdown-item:hover {
    color: black !important;

}

/*** Home Page ***/
#homePage {
    height: 80%;
    width: 100%;
}


#homePage div.gerbil-message {
    display: block;
    position: absolute;
    width: 40vw;
    height: 593px;
    left: 8vw;
    top: 20vh;

}

#homePage div.gerbil-message p {
    font-family: Mali;
    font-weight: 400;
    font-size: 30px;
    line-height: 39px;

}

#homePage div.gerbil-img {
    position: absolute;
    width: 30vw;
    height: 40vh;
    right: 15vw;
    bottom: 20vh;
}


/*** Calendar-Page ***/
#calendarPage {
    position: relative;
}

#calendarPage h1, #calendarPage h2, #noteTitle h1 {
    text-align: left;
    font-family: Mali;
    font-weight: 400;
    font-size: 30px;
    line-height: 39px;

    margin-left: 2vw;
    margin-top: 2vh;
    display: inline-block;

}

#calendarPage h2, #noteTitle h1 {
    margin-left: 0vw;

    font-weight: 400;
    font-size: 25px;
    line-height: 25px;

}

#calendarPage .calendar-button {
    display: block;
    position: absolute;
    right: 2vw;
    top: 2vh;
}

#calendarPage .calendar-button > div {
    display: inline-block;
}

#calendarPage .btn {
    background-color: #CBBAB3;
    border: none;
    color: black;
}

#calendarPage .btn:first-of-type {
    margin-left: 8px;
}

#calendarPage .gerbil-img img{
    width:250px;
}

#addNote {
    display: inline-block;
    position: static;
    margin-left: 30px;
    width: 40%;
    margin-block-end: 20px;
    overflow-wrap: break-word;
}

#task {
    display: inline-block;
    position: relative;
    top: 23px;
}


.fc-toolbar-title {
    font-family: Mali;
    font-weight: 400;
    font-size: 30px;
    line-height: 39px;    
}

.fc, .fc-media-screen, .fc-direction-ltr, .fc-theme-standard {
    margin: 0vh 2vw;
    max-width: 98vw;
}

.fc .fc-timegrid-slot {
    background-color: #D0C6BA;
}

.fc-timegrid-axis, .fc-col-header-cell {
    background-color: #E5E2DD;
}

.fc-event, .fc-v-event, .fc-timegrid-event {
    background-color: #C08A87 !important;
    border: 1px solid #C08A87 !important;
}

.fc-event-time, .fc-event-title, .fc-col-header-cell-cushion, .fc-timegrid-slot-label-cushion  {
    color: black;
    font-family: Mali;
    font-weight: 400;
}

.fc-event-main-frame {
    padding: 6px 8px;
}

/*** gift-gallery-Page ***/

#gift-gallery-Page .intro-message {
    margin: 3vh 4vw 0vh 4vw;
}

#gift-gallery-Page .gifts {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;

    margin: 3vh 4vw 0vh 4vw;
}

#gift-gallery-Page .gerbil-gift {
    flex-grow: 0;
    flex-basis: auto;

    width: 16.9vw;
    height: 16.8vh;
    border-radius: 3px;
    margin-right: 1.3vw;
    margin-bottom: 1.6vh;
    background-color: #E5E2DD;
}

#gift-gallery-Page .gerbil-gift img {
    display: none;
}

#gift-gallery-Page .gerbil-gift.met img {
    display: block;
    min-width: 100%;
    min-height: 100%;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#gift-gallery-Page .gerbil-gift p.gerbil-gift-req {
    display: block;
    text-align: center;
    line-height: 16.8vh;
}

#gift-gallery-Page .gerbil-gift.met p.gerbil-gift-req {
    display: none;
}

.modal .gerbil-gift-message {
    width: 90%;
    margin: 0px 5% 30px 5%;
}

.modal .gerbil-gift {
    width: 90%;
    margin: 0 5%;
}

.modal .gerbil-gift img {
    display: block;
    min-width: 100%;
    min-height: 100%;
    max-width: 100%;
    max-height: 100%;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.modal .gerbil-gift-name {
    width: 100%;
    text-align: center;
    margin: 20px 0vw;
}


/** Warning **/
.warning {
    display: flex;
    justify-content: center;
    align-items: center; 
    height: 80vh;
    padding: 0 25vw;
}

.warning .warning-message {
    line-height: 60px;
}


/* task-note-section */
#task-note-section {
    margin: 2vh 2vw 10vh 2vw;
    position: relative;
}

#task-note-section h2, #task-note-section button, #noteButton, #task-note-section h2, #task-note-section #note-section div:nth-of-type(1), #task-note-section #task-section div:nth-of-type(1)  {
    display: inline-block;
    margin-bottom: 5px;
}


#task-note-section #task-section, #task-note-section #note-section{
    width: 47vw;
    height: 20vh;
    margin-bottom: 5vh;
    display: block;
    position: absolute;
    top: 0;
}

#task-note-section #task-section {
    left:0;
}

#task-note-section #note-section {
    right: 0;

}

#task-note-section #note-section .gerbil-img img {
    width: 5%;
    position: fixed;
    right: 0;
    bottom: 0px;
    z-index:20;
}

#task-note-section #task-section #task-list, #note-section #notes {
    padding: 15px 25px;
    background-color: #D0C6BA;
    height: 23vh;
    overflow-y: auto;

}